body {
  /*background*/
  background-color: rgba(255, 255, 255, 0);
}

/* This is needed for my header amongst other things */
* {
  margin: 0;
  padding: 0;
}

/*header*/
header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgb(230, 36, 36);
  z-index: 20;
}
/*header icons*/
.utd {
  cursor: pointer;
  width: 4vw;
  margin: 0 1vw;
  justify-self: center;
}

.icon:hover {
  filter: drop-shadow(-0.5vw 0.5vw 0.5vw rgba(0,0,0,0.2)) grayscale(1) opacity(0.5);
}
.dropbtn {
  height: 40%;
  width: 40%;
}

/*footer*/
footer {
  background-color: rgb(222, 40, 40);
}

/*titles*/
#title {
  font-size: 8vw;
  margin-top: 1em;
}

.number1 {
  text-align: center;
}

.titleattack {
  text-align: center;
}

.titlegoal {
  text-align: center;
}

.titlemid {
  text-align: center;
}

h2 {
  font-size: 4vh;
  font-style: oblique;
  text-align: center;
}

h3 {
  text-align: center;
}
/*text*/
.text {
  font-size: 2vw;
  font-family: 'Lato', sans-serif;
}

.smtext {
  color: rgb(255, 255, 255);
  background-color: inherit;
  font-size: 2vw;
  font-family: 'Lato', sans-serif;
  list-style: none;
}

.textleft {
  text-align: left;
}

.text2 {
  text-align: left;
}

.textmid {
  text-align: left;
  align-self: center;
}

.textdef {
  text-align: left;
  align-self: center;
}

.goal {
  text-align: left;
  align-self: center;
}

.attack {
  text-align: left;
}
/* links*/
a {
  text-decoration: none;
  text-align: center;
}

/*main content*/

.news {
  padding-bottom: 1vh;
  font-size: 5vw;
  font-family: 'Lato', sans-serif;
}
/*link-buttons players.html*/
.button {
  border: solid 4px black;
  width: 10%;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
}
.knappar {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
}
/*stats*/
.stats {
  font-size: 2.5vh;
}
.cr7stats {

}
.pogbastats {
align-self: center;
}
.VNLstats {
align-self: center;
}
.DDGstats {
align-self: center;
}
/* Drop down style ---------------------------------------- */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropcontent {
  display: none;
  position: absolute;
  color: inherit;
  background-color: #f1f1f1;
  box-shadow: -0.1em 0.1em 1em rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropcontent a {
  color: black;
  background-color: inherit;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  padding: 1em 1.5em;
  text-decoration: none;
  display: block;
}

/* Lists inside the dropdown */
.dropcontent li {
  list-style: none;
}

/* Change color of dropdown links on hover */
.dropcontent a:hover {
  color: inherit;
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}

/* Images */

.imageright {
  width: 30vw;
  justify-self: center;
  }
.imageleft{
  width: 30vw;
  justify-self: center;
}
.imagegoal {
  width: 20vw; 
  border: 5px solid #555;
}
.imageattack {
  width: 20vw;
  border: 5px solid #555;
}
.imagemidfield {
  width: 20vw;
  border: 5px solid #555;
}
.imagedefender {
  width: 20vw;
  border: 5px solid #555;
}

/*map of home ground */
.map {
  width: 60vw;
  height: 50vh;
  border:0;
}
/* media quarry*/
@media (max-width:600px) {
  .utd {
    width: 11vw;
    align-self: center;
  }
  #title {
    margin-top: 2.5em;
  }
  .bild1 {
    width: 50vw;
    justify-self: center;
    border: solid 5px black;
  }
  .text2 {
    font-size: 3vh;
  }
  .bild2 {
    width: 50vw;
    justify-self: center;
    border: 5px solid black;
  }
  .text3 {
    font-size: 3vh;
  }
  .smtext {
    font-size: 3.5vh;
  }
  .map {
    justify-self: center;
  }
  .stats {
    align-self: center;
  }
  .text {
    font-size: 2.5vh;
    text-align: center;
  }
  .button {
    border: none;
    color: blue;
  }
}
